@import "tailwindcss";

:root {
  --primary: #4F46E5;
  --primary-dark: #3730A3;
  --secondary: #0F766E;

  --success: #16A34A;
  --warning: #F59E0B;
  --danger: #DC2626;

  --background: #F8FAFC;
  --surface: #FFFFFF;

  --text-primary: #0F172A;
  --text-secondary: #64748B;

  --border: #E2E8F0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: Inter, system-ui, sans-serif;
}